<div class="container">
  <div class="row inicial">
    <h1>Teatro</h1>
    <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos molestias accusamus facilis nihil
      voluptas dolorem blanditiis quos reiciendis quasi cupiditate sint laudantium, aliquid omnis ullam soluta nesciunt
      cumque illum aperiam? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos molestias accusamus facilis nihil
      voluptas dolorem blanditiis quos reiciendis quasi cupiditate sint laudantium, aliquid omnis ullam soluta nesciunt
      cumque illum aperiam? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos molestias accusamus facilis nihil
      voluptas dolorem blanditiis quos reiciendis quasi cupiditate sint laudantium, aliquid omnis ullam soluta nesciunt
      cumque illum aperiam?</span>
  </div>
  <div class="row row-cols-3 mt-4">
    <div class="col-md-2">
      <img src="../../../assets/una_familia_dentro_de_la_nieve_diego_brienza.jpg" class="img-thumbnail " alt="...">
    </div>
    <div class="col-md-2">
      <img src="../../../assets/santaegida.jpg" class="img-thumbnail " alt="...">
    </div>
    <div class="col-md-2">
      <img src="../../../assets/en el columpio micaela fariña.jpg" class="img-thumbnail " alt="...">
    </div>
    <div class="col-md-2">
      <img src="../../../assets/negro_animal_tristeza.jpg" class="img-thumbnail " alt="...">
    </div>
    <div class="col-md-2">
      <img src="../../../assets/moeraki.jpg" class="img-thumbnail " alt="...">
    </div>
    <div class="col-md-2">
      <img src="../../../assets/rosa brillando vanesa maja.jpg" class="img-thumbnail " alt="...">
    </div>
  </div>
  <div class="row  row-cols-3 mt-4 border-top"></div>
  <div class="row  row-cols-3 mt-4 ">
    <div class="col-md-2">
      <img src="../../../assets/secretoaweb.jpg" class="img-thumbnail " alt="...">
    </div>
    <div class="col-md-2">
      <img src="../../../assets/a mama guillermo cacace.jpg" class="img-thumbnail " alt="...">
    </div>
    <div class="col-md-2">
      <img src="../../../assets/Los-irresponsables.jpg" class="img-thumbnail " alt="...">
    </div>
    <div class="col-md-2">
      <img src="../../../assets/nadie te vio cecilia meijide.jpg" class="img-thumbnail " alt="...">
    </div>
    <div class="col-md-2">
      <img src="../../../assets/el_niño_con_los_pies_pintados.jpg" class="img-thumbnail " alt="...">
    </div>
    <div class="col-md-2">
      <img src="../../../assets/bueno.jpg" class="img-thumbnail " alt="...">
    </div>
  </div>
  <div class="row  row-cols-3 mt-4 border-top"></div>
  <div class="row  row-cols-3 mt-4">
    <div class="col-md-2">
      <img src="../../../assets/lo_se_todo_ezequiel_matzquin.jpg" class="img-thumbnail " alt="...">
    </div>
    <div class="col-md-2">
      <img src="../../../assets/amormierdaoki.jpg" class="img-thumbnail " alt="...">
    </div>
    <div class="col-md-2">
      <img src="../../../assets/beso_maciso.jpg" class="img-thumbnail " alt="...">
    </div>
    <div class="col-md-2">
      <img src="../../../assets/hotel piazzolla juan pablo barrios.jpg" class="img-thumbnail " alt="...">
    </div>
    <div class="col-md-2">
      <img src="../../../assets/postales_perd.jpg" class="img-thumbnail " alt="...">
    </div>
    <div class="col-md-2">
      <img src="../../../assets/caprichosa cecilia meijide.jpg" class="img-thumbnail " alt="...">
    </div>
  </div>
</div>