<div class="row row-cols-1 row-cols-md-2 g-4 mt-2 justify-content-center" >
    <div class="col "   style="max-width: 320px; ">
    <div class="card border-light mb-3" style="background-color: rgba(233, 222, 222, 0.842);">
      <img src="assets/el_niño_con_los_pies_pintados.jpg" class="card-img rounded-start" alt="...">
      <div class="card-img">
                </div>
    </div>
  </div>
  <div class="col"  style="max-width: 320px;">
    <div class="card border-light mb-3" style="background-color: rgba(233, 222, 222, 0.842);">
      <img src="assets/lo_se_todo_ezequiel_matzquin.jpg" class="card-img rounded-start" alt="...">
      <div class="card-img">
        
      </div>
    </div>
  </div>
  <div class="col"  style="max-width: 320px;">
    <div class="card border-light mb-3" style="background-color: rgba(233, 222, 222, 0.842);">
      <img src="assets/Los-irresponsables.jpg" class="card-img rounded-start" alt="...">
      <div class="card-img">
         
      </div>
    </div>
  </div>
  <div class="col" style="max-width: 320px;"> 
    <div class="card border-light mb-3" style="background-color: rgba(233, 222, 222, 0.842);">
      <img src="assets/santaegida.jpg" class="card-img rounded-start" alt="...">
      <div class="card-img">
         </div>
    </div>
  </div>
</div>